In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName('Airbnb QandA Processing Data') \
    .getOrCreate()

In [2]:
london_listings = spark.read.csv(
    path='./data/airbnb-london-listings.csv.gz',
    header=True,
    inferSchema=True,
    sep=',',
    quote='"',
    escape='"',
    multiLine=True,
    mode='PERMISSIVE'
)

In [3]:
london_listings.printSchema()

root
 |-- id: long (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: long (nullable = true)
 |-- last_scraped: date (nullable = true)
 |-- source: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: date (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: integer (nullable = true)
 |-- host_total_listings_count: integer (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- beds: integer (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- minimum_minimum_nights: integer (nullable = true)
 |-- maximum_minimum_nights: integer (nullable = true)
 |-- minimum_maximum_nights: integer (nullable = true)
 |-- maximum_maximum_nights: integer (nullable = true)
 |-- minimum_nights_avg_ntm: double (nullable = true)
 |-- maximum_nights_avg_ntm: double (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: integer (nullable = true)
 |-- availability_60: integer (nullable = true)
 |-- availability_90: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- calendar_last_scraped: date (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- number_of_reviews_l30d: integer (nullable = true)
 |-- availability_eoy: integer (nullable = true)
 |-- number_of_reviews_ly: integer (nullable = true)
 |-- estimated_occupancy_l365d: integer (nullable = true)
 |-- estimated_revenue_l365d: integer (nullable = true)
 |-- first_review: date (nullable = true)
 |-- last_review: date (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- calculated_host_listings_count_entire_homes: integer (nullable = true)
 |-- calculated_host_listings_count_private_rooms: integer (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: integer (nullable = true)
 |-- reviews_per_month: double (nullable = true)

In [4]:
# 1. Get a non-null picture URL for any property ("picture_url" field). Select any non-null picture URL

london_listings.filter(
    london_listings \
        .picture_url \
        .isNotNull()
) \
.select('picture_url') \
.limit(1) \
.show(truncate=False)

+------------------------------------------------------------------------------------------------------+
|picture_url                                                                                           |
+------------------------------------------------------------------------------------------------------+
|https://a0.muscache.com/pictures/miso/Hosting-13913/original/d755aa6d-cebb-4464-80be-2722c921e8d5.jpeg|
+------------------------------------------------------------------------------------------------------+

In [5]:
# 2. Get number of properties that get more than 10 reviews per month
london_listings \
    .filter(
        (london_listings.reviews_per_month > 10)
    ) \
    .count()

66

In [6]:
# 3. Get properties that have more bathrooms than bedrooms
london_listings \
    .filter(
        (london_listings.bathrooms > london_listings.bedrooms)
    ) \
    .select('name', 'bathrooms', 'bedrooms') \
    .show(truncate=False)

+-------------------------------------------------+---------+--------+
|name                                             |bathrooms|bedrooms|
+-------------------------------------------------+---------+--------+
|Cosy Double studio in Zone 2 Hammersmith (1)     |1.5      |1       |
|LONDON DETACHED HOUSE*ElecGates etc              |2.0      |1       |
|Designer room Park Views 4 mins zone 1 station   |1.5      |1       |
|Maisonette in Central London Zone 1              |1.5      |1       |
|West London,loft ensuite, 5min2tube              |1.5      |1       |
|Shoreditch Loft                                  |1.5      |1       |
|Five minute walk to South Bank                   |1.5      |1       |
|Stunning double room own bathroom                |4.0      |1       |
|Also five minutes to South Bank                  |1.5      |1       |
|Studio 20 min from center                        |1.0      |0       |
|Spacious luxury 2 bedroom apartment              |1.5      |1       |
|Single room near Canning Town (7 mins by bus)    |1.5      |1       |
|Spacious Double Room (R3)                        |2.0      |1       |
|Superior Boutique Comfort, Amazing Fast Transport|2.0      |1       |
|NICE DOUBLE ROOM IN A CLEAN  AND QUIET HOUSE     |1.5      |1       |
|Homely Twin Room Streatham,London                |1.5      |1       |
|Homely Triple Room London 2                      |1.5      |0       |
|Luxury, Newly Renovated Chelsea Apartment        |2.5      |2       |
|Gorgeous double at Camden Market                 |1.5      |1       |
|Vintage Oasis and Double Room and Peace          |1.0      |0       |
+-------------------------------------------------+---------+--------+
only showing top 20 rows

In [7]:
# 4. Get properties where the price is greater than 5,000. Collect the result as a Python list
from pyspark.sql.functions import regexp_replace

price_cleaned_df = london_listings \
    .withColumn('price_cleaned', regexp_replace('price', '[$,]', '').cast('float'))

In [8]:
price_cleaned_result = price_cleaned_df \
    .filter(
        (price_cleaned_df.price_cleaned > 5000)
    ) \
    .select('name', 'price') \
    .collect()

In [9]:
price_cleaned_result

[Row(name='Room in a cosy flat. Central, clean', price='$8,000.00'),
 Row(name='Spacious Private Ground Floor Room', price='$6,309.00'),
 Row(name='No Longer Available', price='$53,588.00'),
 Row(name='Bright & airy DoubleBed with EnSuite in Zone 2!', price='$74,100.00'),
 Row(name='The Apartments by The Sloane Club, Two Bedroom Apt', price='$7,377.00'),
 Row(name='The Apartments by The Sloane Club, L 2 Bedroom Apt', price='$7,377.00'),
 Row(name='Single room. 7ft x 9ft - Over looking garden', price='$6,523.00'),
 Row(name='Close To London Eye (TUR)', price='$6,666.00'),
 Row(name='Beautiful 2 BR flat in Kilburn with free parking', price='$6,000.00'),
 Row(name='Semi-detached mews house in Knightsbridge.', price='$7,019.00'),
 Row(name='Affordable Spacious  Room on the edge of the city', price='$6,000.00'),
 Row(name='Henry’s Townhouse, London', price='$6,500.00'),
 Row(name='City Suite', price='$5,353.00'),
 Row(name='Hyde Park Suite', price='$5,653.00'),
 Row(name='SHORT WALK TO LONDON EYE - DOUBLE ROOM (SUR)', price='$50,000.00'),
 Row(name='The Presidential - 6 bed - stunning elegance', price='$6,000.00'),
 Row(name='Kensington Penthouse', price='$7,538.00'),
 Row(name='Walk To London Eye - Double Room (FIL)', price='$11,412.00'),
 Row(name='Resolve Apartment', price='$5,240.00'),
 Row(name='Very Large and Splendid Terrace House in London', price='$8,000.00'),
 Row(name='Luxurious penthouse Acton', price='$5,743.00'),
 Row(name='Twin Room Close to London Eye (RHI)', price='$50,000.00'),
 Row(name='Short Walk to London Eye (8V1)', price='$6,900.00'),
 Row(name='Foxter Properties Chelsea', price='$12,000.00'),
 Row(name='Close To London Eye', price='$22,824.00'),
 Row(name='Close To London Eye', price='$65,000.00'),
 Row(name="Stylish Earl's Court Getaway", price='$9,999.00'),
 Row(name='Close to London Eye (BOL)', price='$58,000.00'),
 Row(name='Contemporary Oasis in Paddington II', price='$9,999.00'),
 Row(name='1. V02 Large Apartment; next to Piccadilly Circus!', price='$6,400.00'),
 Row(name='Modern Sky-High Flat In North Acton', price='$9,999.00'),
 Row(name='Zone 1 - Central London (JAM)', price='$25,106.00'),
 Row(name='Your Elite Hyde Park Retreat 2-Bedroom Luxury Flat', price='$10,890.00'),
 Row(name='CentralLondon Luxury for 5! 1Min from Paddington', price='$9,680.00'),
 Row(name='Spacious, airy penthouse with stunning view', price='$30,812.00'),
 Row(name='20% Off Monthly Business Relocation Stays Belsize', price='$15,000.00'),
 Row(name='Ultra Luxe 4 Bed flat in Mayfair', price='$6,000.00'),
 Row(name='Short Walk To London Eye (SUR)', price='$20,000.00'),
 Row(name='Close to The Shard (TAI)', price='$10,001.00'),
 Row(name='London luxury.', price='$9,660.00'),
 Row(name='Walk To London Eye (CAN)', price='$10,307.00'),
 Row(name='Short Walk to London Eye (TOK)', price='$28,000.00'),
 Row(name='The Artists House', price='$15,143.00'),
 Row(name='Walk To London Eye (BLZ)', price='$30,000.00'),
 Row(name='Luxury Grade II Listed Mansion', price='$9,389.00'),
 Row(name='Modern apartment Central London', price='$8,918.00'),
 Row(name='Tranquil 2 Bedroom Apartment in East London', price='$9,999.00'),
 Row(name='Outdoor kitchen', price='$7,034.00'),
 Row(name='Charmante Wohnung mit Balkon', price='$6,924.00'),
 Row(name='Southwood House', price='$9,999.00'),
 Row(name='Silverings', price='$9,999.00'),
 Row(name='Penthouse in the City of London', price='$9,000.00'),
 Row(name='Very Central Room - Walk to Eye', price='$58,000.00'),
 Row(name='Walk To London Eye', price='$6,391.00'),
 Row(name='Walk To London Eye', price='$66,189.00'),
 Row(name='The Prince Albert', price='$12,000.00'),
 Row(name='Corporate ready - Combination of Flats  - Up to 56', price='$8,537.00'),
 Row(name='5 Flats in Building | Zone 1 | 20 Guests | 10 Beds', price='$7,677.00'),
 Row(name='Student Only, En-suite Room at South Bank', price='$8,000.00'),
 Row(name='Standard Double Room Near Ebury Square Gardens LON', price='$11,952.00'),
 Row(name='Stylish 2 Bed Flat in Battersea - Private Balcony', price='$10,004.00'),
 Row(name='One Bedroom Apartment Near Watergate Walk LON', price='$11,952.00'),
 Row(name='Notting Hill The One One One 3', price='$6,924.00'),
 Row(name='Wien Orpington', price='$6,924.00'),
 Row(name='Notting Hill Die Eins Eins Eins 6', price='$6,924.00'),
 Row(name='Notting Hill Die Eins Eins Eins 1', price='$6,924.00'),
 Row(name='Atemberaubende Wohnung, in der Nähe von East.', price='$6,924.00'),
 Row(name='Notting Hill Die Eins Eins Eins 5', price='$6,924.00'),
 Row(name='Notting Hill Die Eins Eins Eins 4', price='$6,924.00'),
 Row(name='Lux 2 Bed in Canary Wharf close to Excel & O2', price='$1,085,147.00'),
 Row(name='Cozy Studio-Nicene House', price='$6,865.00'),
 Row(name='Luxuriöse 2 Bett Wohnung im Hotelstil in Notting.', price='$6,924.00'),
 Row(name='The Lightwell Studio at Bramham Gardens', price='$9,999.00'),
 Row(name='Student Only Bronze Studio IQ\xa0Vega', price='$5,104.00'),
 Row(name='Student Only Bronze Studio UpperLevel Premium View', price='$8,480.00'),
 Row(name='Student Only Premium Ensuite at Drapery Place', price='$8,411.00'),
 Row(name='Student Only, Classic Ensuite Finsbury House', price='$7,448.00'),
 Row(name='Minimalist 2BD Flat near Shoreditch High Street', price='$8,000.00'),
 Row(name='Stylish Family Home with Garden in Peckham Rye', price='$9,999.00'),
 Row(name='Private Penthouse Above the Crowds', price='$9,999.00'),
 Row(name='Chic East London Stay with Outdoor Space', price='$9,999.00'),
 Row(name='ABR - Spacious 2 -Bed Patio Retreat in Kennington', price='$9,999.00'),
 Row(name="Floating on the Thames A Designer's Dream", price='$9,999.00'),
 Row(name='Elegant Fulham Retreat with Private Garden', price='$10,032.00'),
 Row(name='Elegant Queen’s Park Retreat with Balcony', price='$9,999.00'),
 Row(name='Contemporary Stratford Escape', price='$9,999.00'),
 Row(name='Modern Mezzanine Apartment in Covent Garden', price='$9,999.00'),
 Row(name='Bright Two-Bed Flat in Covent Garden', price='$9,999.00'),
 Row(name='Single Semi-Ensuite Room', price='$10,000.00'),
 Row(name='Stylish 3-Bed Home with Garden in Dollis Hill', price='$10,028.00'),
 Row(name='Elegant West London Home with Style', price='$9,999.00'),
 Row(name='Belgravia Living – 2-Bed, 1-Bath Apartment with Ba', price='$10,020.00'),
 Row(name='Belgravia Living – 2-Bed, 1-Bath Belgravia Flat', price='$9,999.00'),
 Row(name='Belgravia Living – Bright 2-Bed, 1-Bath Apartment', price='$9,999.00'),
 Row(name='Belgravia Living – 2-Bed, 1-Bath Home with Balcony', price='$9,999.00'),
 Row(name='Belgravia Base: 2BR Flat Near Victoria Station', price='$9,999.00'),
 Row(name='Central Belgravia 2BR Near Victoria', price='$10,020.00'),
 Row(name='Functional Belgravia 2BR Flat Near Victoria', price='$10,020.00'),
 Row(name='Belgravia Living - Contemporary 2BR Near Victoria', price='$10,020.00'),
 Row(name='Convenient 2BR/1BA Flat in Belgravia', price='$9,999.00'),
 Row(name='Simple Belgravia Base Near Transport', price='$9,999.00'),
 Row(name='\u200bChiswick Studio Retreat with Private Balcony', price='$9,999.00'),
 Row(name='Belgravia 2 BR Hideaway with Balcony', price='$9,999.00'),
 Row(name='Central Belgravia 2BR Near Victoria', price='$9,999.00'),
 Row(name='Stylish London Apartment in Trendy Peckham', price='$9,999.00')]

In [10]:
# 5. Get a list of properties with the following characteristics:
# * price < 150
# * more than 20 reviews
# * review_scores_rating > 4.5
# Consider using the "&" operator

price_cleaned_df.filter(
    (price_cleaned_df.price_cleaned < 150) &
    (price_cleaned_df.number_of_reviews > 20) &
    (price_cleaned_df.review_scores_rating > 4.5)
) \
    .select('name', 'price', 'number_of_reviews', 'review_scores_rating') \
    .show(truncate=False)

+-------------------------------------------------+-------+-----------------+--------------------+
|name                                             |price  |number_of_reviews|review_scores_rating|
+-------------------------------------------------+-------+-----------------+--------------------+
|Holiday London DB Room Let-on going              |$70.00 |55               |4.85                |
|Bright Chelsea  Apartment. Chelsea!              |$149.00|97               |4.8                 |
|You are GUARANTEED to love this                  |$90.00 |730              |4.87                |
|SUNNY ROOM PRIVATE BATHROOM PLUS BREAKFAST       |$61.00 |387              |4.77                |
|SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT         |$49.00 |72               |4.97                |
|Room with a view, shared flat,  central  Bankside|$96.00 |137              |4.7                 |
|You Will Save Money Here                         |$71.00 |639              |4.89                |
|Quiet Comfortable Room in Fulham                 |$48.00 |266              |4.74                |
|Pleasant Single Room in zone 1.                  |$50.00 |456              |4.81                |
|Cosy Double studio in Zone 2 Hammersmith (6)     |$78.00 |221              |4.73                |
|Beautiful Small Studio Hammersmith               |$79.00 |263              |4.71                |
|Cosy Double studio in Zone 2 Hammersmith (1)     |$78.00 |173              |4.71                |
|Cosy Double studio in Zone 2 Hammersmith (4)     |$89.00 |227              |4.63                |
|Cosy Double studio in Zone 2 Hammersmith (3)     |$79.00 |229              |4.69                |
|NICE FAMILY HOME opposite NATURAL LANDSCAPED PARK|$40.00 |25               |4.54                |
|2 bed/2 bath luxury flat with city view!         |$117.00|110              |4.9                 |
|Double Room 2 Miles from Wimbledon in Morden SM4 |$35.00 |169              |4.9                 |
|Pretty Self Contained Coach House                |$110.00|178              |4.92                |
|Clerkenwell penthouse, huge terrace              |$125.00|77               |4.95                |
|Designer room Park Views 4 mins zone 1 station   |$57.00 |460              |4.79                |
+-------------------------------------------------+-------+-----------------+--------------------+
only showing top 20 rows

In [11]:
# 6. Get a list of properties with the following characteristics:
# * price < 150 OR more than one bathroom
# Use the "|" operator to implement the OR operator

price_cleaned_df.filter(
    (price_cleaned_df.price_cleaned < 150) |
    (price_cleaned_df.bathrooms > 1)
) \
    .select('name', 'price', 'bathrooms') \
    .show(truncate=False)

+--------------------------------------------------+-------+---------+
|name                                              |price  |bathrooms|
+--------------------------------------------------+-------+---------+
|Holiday London DB Room Let-on going               |$70.00 |1.0      |
|Bright Chelsea  Apartment. Chelsea!               |$149.00|1.0      |
|Very Central Modern 3-Bed/2 Bath By Oxford St W1  |$411.00|2.0      |
|Kew Gardens 3BR house in cul-de-sac               |$280.00|1.5      |
|You are GUARANTEED to love this                   |$90.00 |0.0      |
|SUNNY ROOM PRIVATE BATHROOM PLUS BREAKFAST        |$61.00 |1.0      |
|Short Term Home                                   |$340.00|2.0      |
|SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT          |$49.00 |1.0      |
|Room with a view, shared flat,  central  Bankside |$96.00 |1.0      |
|You Will Save Money Here                          |$71.00 |1.0      |
|Quiet Comfortable Room in Fulham                  |$48.00 |1.0      |
|Room with a garden                                |$76.00 |1.0      |
|Pleasant Single Room in zone 1.                   |$50.00 |1.0      |
|Cosy Double studio in Zone 2 Hammersmith (6)      |$78.00 |1.0      |
|Beautiful Small Studio Hammersmith                |$79.00 |1.0      |
|Close to Wimbledon All England Tennis -huge double|$86.00 |1.0      |
|Cosy Double studio in Zone 2 Hammersmith (1)      |$78.00 |1.5      |
|Cosy Double studio in Zone 2 Hammersmith (4)      |$89.00 |1.0      |
|Cosy Double studio in Zone 2 Hammersmith (3)      |$79.00 |1.0      |
|NICE FAMILY HOME opposite NATURAL LANDSCAPED PARK |$40.00 |1.0      |
+--------------------------------------------------+-------+---------+
only showing top 20 rows

In [12]:
# 7. Get the highest listing price in this dataset
# Consider using the "max" function from "pyspark.sql.functions

from pyspark.sql.functions import max

price_cleaned_df \
    .select(max(price_cleaned_df.price_cleaned)) \
    .show()

+------------------+
|max(price_cleaned)|
+------------------+
|         1085147.0|
+------------------+

In [13]:
# 8. Get the name and a price of property with the highest price
# Try to use "collect" method to get the highest price first, and then use it in a "filter" call

max_price = price_cleaned_df \
    .select(max(price_cleaned_df.price_cleaned).alias('max_price')) \
    .collect()
max_price

price_cleaned_df.filter(
    (price_cleaned_df.price_cleaned == max_price[0]['max_price'])
) \
    .select('name', 'price') \
    .show(truncate=False)

+---------------------------------------------+-------------+
|name                                         |price        |
+---------------------------------------------+-------------+
|Lux 2 Bed in Canary Wharf close to Excel & O2|$1,085,147.00|
+---------------------------------------------+-------------+

In [14]:
# 9. Get the number of hosts in the dataset

london_listings \
    .select(london_listings.host_name) \
    .distinct() \
    .count()

16673

In [15]:
# 10. Get listings with a first review in 2024
# Consider using the "year" function from "pyspark.sql.functions"

from  pyspark.sql.functions import year

london_listings \
    .filter(
        year(london_listings.first_review) == 2024
    ) \
    .select('name', 'price', 'first_review') \
    .show(truncate=False)

+--------------------------------------------------+---------+------------+
|name                                              |price    |first_review|
+--------------------------------------------------+---------+------------+
|Close to Wimbledon All England Tennis -huge double|$86.00   |2024-08-11  |
|one Double bed room with en-suite facilities      |$53.00   |2024-03-21  |
|Bridgerton inspired cottage core apartment        |$91.00   |2024-09-14  |
|Sm double room  with own bathroom                 |$38.00   |2024-06-04  |
|Central, modern pied-a-terre                      |$189.00  |2024-11-29  |
|Superlux flat in Knightsbridge                    |$1,350.00|2024-01-01  |
|The Pink House, Notting Hill                      |NULL     |2024-07-14  |
|Stylish garden flat in Hackney                    |$197.00  |2024-09-15  |
|Luxurious Flat in South Kensington                |$234.00  |2024-06-19  |
|Double Standard Room (Ensuite)                    |NULL     |2024-09-01  |
|Single En-suite Room                              |$81.00   |2024-08-28  |
|Superior Single Room (En-suite)                   |$87.00   |2024-06-21  |
|Victorian 2-bedroom upstairs flat sleeps 4        |NULL     |2024-12-09  |
|Charmant appart typique londonien                 |$152.00  |2024-04-28  |
|Small 1 bed apartment London center               |$115.00  |2024-10-07  |
|Spacious Flat Great Location                      |$120.00  |2024-08-26  |
|Stylish & Spacious Two Bed Flat, De Beauvoir Town |$136.00  |2024-08-17  |
|Prime East London, Water Views & Balconies.       |$235.00  |2024-04-22  |
|Stylish cosy flat in popular East Dulwich         |$72.00   |2024-11-16  |
|Portobello Road-Ladbroke Grove Flat               |$163.00  |2024-06-14  |
+--------------------------------------------------+---------+------------+
only showing top 20 rows

In [16]:
spark.stop()